.gameboard {
  background-color: hsl(0, 0%, 21%);
  height: 100%;
  width: 100%;
}

.box:hover {
  cursor: pointer;
}

.gameboard-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
}