.header {
  width: 100%;
  height: 12rem;
  background-color:#4682B4;
  display: flex;
  flex-direction: column;
  color: white;
}

.header-title {
  margin: 0;
  font-size: 2.75rem;
}

.header-color {
  margin: 0;
  font-size: 3rem;
}